@media only screen and (min-width: 350px) {
.between {
  z-index: 500;
}
    table {
    position: relative;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: left;
    table-layout: fixed;
    background-color: #233d63;
    box-shadow: 0 0 150px #000000;
}
table tr {
    padding: .35em;
    border: #222222 1px solid;
}
.light-td {
    font-size: 3vw;
    letter-spacing: .1em;
    padding: 20px;
    color: #233d63;
    background-color: #bbb;
}
.bold-td {
    font-size: 3vw;
    letter-spacing: .1em;
    padding: 20px;
    color: #fff;
    background-color: none;
}
.bluewrapcontact {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    width: 100%;
    padding: 15%;
    background-color: #233d63;
    box-shadow: 0 0 150px #000000;
}
.formholder h2 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    font-size: 8vw;
    padding-bottom: 30px;
}

.formholder .big {
    color: #fff;
    text-shadow: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    font-size: 6vw;
}
.formholder p {
    color: #a5b0bf;
    font-family: DM Sans,sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}
.fluiddark {
    z-index: -200;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline;
    width: 620px;
    height: 620px;
    margin-left: -310px;
    margin-top: -310px;
    border: #233d63 solid 2px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 40px rgba(0,0,0,.2), 0 0 90px rgba(0,0,0,.8);
}

.about {
    position: relative;
    margin: 0 auto;
    top: 100px;
}
.about .henry-pic img {
    margin: 0 auto;
    width: 74%;
}
.clients img {
    width: 79%;
}
.workpix img {
    width: 74%;
}
.workpix.subpic img {
    width: 75%;
}
.workpix.valpic img {
    width: 80%;
}
.worksubarubanner {
    background-size: 70%;
}
.workvaleyobanner {
    background-size: 70%;
}
.wrapper.contacty {
    background: url(../images/lines.png) top center repeat-y #233d63;
    background-size: 70%;
}
.contactbanner2 {
    background: url(../images/lineslb.png) top center repeat-y #ff3a46;
    background-size: 70%;
}
.wrapper.freedemo {
    background: url(../images/lines.png) top center repeat-y #233d63;
    background-size: 70%;
}
.freedemobanner {
    background: url(../images/lineslb.png) top center repeat-y #d8602c;
    background-size: 70%;
}
.wrapper.error404wrap {
    background: url(../images/lines.png) top center repeat-y #233d63;
    background-size: 70%;
}
.error404banner {
    background: none;
}
.wrapper.abouter {
    background: none, url(../images/lines.png) top center repeat-y;
    background-size: 70%;
}
.wrapper.homery {
    background: none, url(../images/lines.png) top center repeat-y;
    background-size: 50%, 70%;
    z-index: 999;
}
.workbannerpic {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -47%;
    margin-bottom: 20%;
    width: 85%;
    z-index: 1;
}
.contactbanner {
    margin: 0 10%;
}

.error404 {
    position: absolute;
    top: 30vh;
    left: 0;
    margin-left: 0;
    width: 100%;
    z-index: 1;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: bounce 6s ease-in-out infinite;
    animation: bounce 6s ease-in-out infinite;
}
.pp-map {
    position: absolute;
    width: 200px;
    top: 320px;
    left: 70px;
    z-index: 100;
}

.pp-map img {
    width: 200px;
}

.shadow-slogan{
    position: absolute;
    top: 150px;
    left: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 14vw;
    line-height: 2;
    color: rgba(200,200,200,.8);
    background: linear-gradient(rgba(200,200,200,0), rgba(200,200,200,0.2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.bird {
    position: absolute;
    top: 27vh;
    left: 50%;
    margin-left: -32%;
    width: 68%;
    z-index: 1;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
}
.skillz {
    background: url(../images/wavy.png) top left no-repeat;
    background-size: 100%;
    background-color: #233d63;
    padding: 11% 7%;
    margin-top: -100px;
    width: 100%;
    position: relative;
    z-index: 500;
}
.skillz p {
    color: #a5b0bf;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    margin-top: 30px;
}
.direction {
    width: 100%;
    float: none;
    padding: 0;
    text-align: left;
    margin-top: -150px;
}
.bannertxt2 h1 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    font-size: 22vw;
    letter-spacing: -3px;
    margin-top: 70px;
    position: relative;
}
.abouttext {
    padding: 20% 7%;
    width: 100%;
    margin: 16% auto 0%;
    z-index: 500;
    position: relative;
    background-color: #233d63;
    box-shadow: 0 0 150px #000000;
}
.abouttext h3 {
    color: #a5b0bf;
    font-family: DM Sans,sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
}
.abouttext p {
    color: #a5b0bf;
    text-align: center;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    margin-top: 30px;
}
.sub-heading {
    color: #233d63;
    background: #a5b0bf;
    padding: 10px;
    margin-bottom: 80px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.abouttext2 {
    padding: 10% 10% 10% 10%;
    width: 100%;
    z-index: 500;
    position: relative;
    margin: 130px auto 10%;
    background-color: #233d63;
    box-shadow: 0px 0px 115px #000000;
}
.abouttext2 h2 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    font-size: 8vw;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.abouttext2 h3 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    font-size: 5vw;
    margin-top: 30px;
    letter-spacing: -1px;
}
.abouttext2 p {
    color: #a5b0bf;
    text-align: center;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}
.cambodia {
    position: absolute;
    bottom: -2px;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.cambodia img {
    height: 100%;
    width: auto;
}
.bannersplatabout {
    top: 55%;
    left: 50%;
    margin-left: -400px;
    margin-top: -325px;
    width: 800px;
    height: 800px;
}
.aboutfoot {
    width: 100%;
    background: none;
    padding-bottom: 0;
}
.aboutwork {
    width: 100%;
    margin: 0 auto;
    background: url(../images/wine.png) bottom center no-repeat #ff4338;
    background-size: 30%;
    box-shadow: 0 0 150px #000000;
    z-index: 10;
    position: relative;
}
.aboutwork a {
    color: #ffffff;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2000;
    font-size: 7vw;
    letter-spacing: -2px;
    display: block;
    padding: 30% 0;
    text-decoration: underline;
}
.aboutwork a:hover {
    color: #fff;
    text-decoration: none;
}
.cheersfoot {
    width: 100%;
    background: none;
    padding-bottom: 0;
}
.cheers-sub-foot {
    width: 100%;
    margin: 0 auto;
    background: url(../images/red-arrow.png) center center no-repeat #233d63;
    background-size: 70%;
    box-shadow: 0 0 150px #000000;
    z-index: 10;
    position: relative;
}
.cheers-sub-foot a {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2000;
    font-size: 7vw;
    letter-spacing: -2px;
    text-decoration: underline;
    display: block;
    padding: 30% 0;
}
.cheers-sub-foot a:hover {
    color: #fff;
}
.aboutbanner {
    height: 100vh;
    z-index: 2;
    position: relative;
    top: 90px;
    width: 100%;
}
.fluiddark.abouty {
    z-index: -200;
    position: absolute;
    top: 38%;
    left: 50%;
    margin-left: -275px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    display: block;
}
.contacttxt {
    width: 100%;
    padding-top: 41vh;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.contacttxt h1 {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2000;
    font-size: 9vw;
    letter-spacing: -2px;
}

.nextlbbanner {
    width: 100%;
    margin: 14% 0 0;
    background: url(../images/wine.png) bottom center no-repeat #ff4338;
    background-size: 33%;
    box-shadow: 0 0 150px #000000;
}

.nextlbbanner a {
    color: #fff;
    font-family: DM Sans,sans-serif;
    text-align: center;
    font-weight: 700;
    z-index: 2000;
    font-size: 8vw;
    letter-spacing: -2px;
    text-decoration: none;
    display: block;
    padding: 30% 0;
}

.nextlbbanner a:hover {
    color: #fff;
    text-decoration: underline;
}
.big-btn a {
    border-radius: 3px;
    font-size: 7vw;
    text-decoration: underline;
    padding: 10px 30px 20px 30px;
    background-color: rgb(245,192,112);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    color: rgb(35,61,99);
    cursor: pointer;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.big-btn a:hover {
    border-radius: 3px;
    font-size: 7vw;
    text-decoration: underline;
    padding: 10px 30px 20px 30px;
    background-color: rgb(34,34,34);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    color: rgb(245,192,112);
    cursor: pointer;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}
.bannersplatfoot {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-left: -325px;
    margin-top: -325px;
    width: 650px;
    height: 650px;
    z-index: 0;
}
.canada {
    position: absolute;
    width: 450px;
    top: 154px;
    left: 105px;
    z-index: 100;
}
.worktext p {
    color: #a5b0bf;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    margin-top: 30px;
}
.worktext2 p {
    color: #a5b0bf;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    margin-top: 30px;
}
.worktext a {
    color: #f5c070;
    text-decoration: underline;
    padding-top: 25px;
    display: block;
    font-family: DM Sans,sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.worktext2 a {
    color: #f5c070;
    text-decoration: underline;
    padding-top: 25px;
    display: block;
    font-family: DM Sans,sans-serif;
    font-size: 23px;
    font-weight: 700;
}
.planewrap {
    margin-left: -155px;
    margin-top: -166px;
    width: 310px;
}
.planey {
    display: inline;
}
.planeymob {
    display: none;
}
.bannersplat {
    margin-left: -325px;
    margin-top: -325px;
    width: 650px;
    height: 650px;
}
.bannertxt-index {
    padding-top: 75vh;
}
.bannertxt-index h1 {
    color: #f5c070;
    text-shadow: 3px 3px #233d63;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    font-size: 11vw;
    position: relative;
}
.bannertxt {
    padding-top: 30vh;
}
.bannertxt h1 {
    color: #fff;
    text-shadow: 3px 3px #233d63;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    font-size: 18vw;
    letter-spacing: -3px;
    margin-bottom: 10px;
    position: relative;
}
.bannertxt-affiliate {
    padding-top: 30vh;
}
.bannertxt-affiliate h1 {
    color: #233d63;
    text-shadow: 2px 2px #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    font-size: 15vw;
    letter-spacing: -3px;
    margin-bottom: 10px;
    position: relative;
}
.bannertxt-portfolio {
    padding-top: 30vh;
}
.bannertxt-portfolio h1 {
    color: #233d63;
    text-shadow: 2px 2px #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    z-index: 2;
    font-size: 17vw;
    letter-spacing: -3px;
    margin-top: 80px;
    position: relative;
}
.bannertxtc {
    padding-top: 39vh;
}
.bannertxtc h1 {
    font-size: 18vw;
    text-shadow: 3px 3px #233d63;
    letter-spacing: -3px;
}
.bannertxt-error404 h1 {
    font-size: 18vw;
    text-shadow: 3px 3px #233d63;
    letter-spacing: -3px;
}
.logo {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -150px;
    z-index: 500;
}
.logo img {
    width: 300px;
    height: 62px;
}
.fluid {
    width: 250px;
    height: 250px;
    margin: 190px auto;
}
.scroll {
    bottom: 30px;
    left: 50%;
    margin-left: -4px;
    width: 10px;
    height: 48px;
}
.scroll2 {
    bottom: 30px;
    left: 50%;
    margin-left: -4px;
    width: 10px;
    height: 48px;
}
.bubble-wrap {
    height: 60px;
    width: 60px;
    top: 5px;
    right: 5px;
}
.bubble {
    height: 60px;
    width: 60px;
    top: 5px;
    right: 5px;
}
.bubbleback {
    height: 60px;
    width: 60px;
    top: 5px;
    right: 5px;
}
.bar {
    background-color: #fff;
    height: 3px;
    border-radius: 5px;
    right: 15px;
    top: 21px;
}
.first {
    position: absolute;
    width: 30px;
}
.first.active {
    margin-top: 10px;
}
.second {
    margin-top: 8px;
    width: 30px;
}
.second.active {
    opacity: 0;
    margin-top: 10px;
}
.third {
    margin-top: 16px;
    width: 15px;
}
.third.active {
    margin-top: 10px;
    width: 30px;
}
.homeworksplat {
    position: absolute;
    top: 7%;
    left: -7%;
    width: 500px;
    height: 500px;
    z-index: 0;
}

.menu-overlay{
        font-family:DM Sans,sans-serif;
    
    }

    .menu-overlay .menu-left{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .menu-overlay .menu-center{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
    .menu-overlay .menu-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .menu-overlay .menu-center i{
        margin-left: 0;
    }

    .menu-overlay .menu-right i{
        margin-left: 0;
    }

.homeworksplat2 {
    position: absolute;
    top: 7%;
    right: 40%;
    width: 500px;
    height: 500px;
    z-index: 0;
}
.travels {
    background: url(../images/wavy.png) top left no-repeat;
    background-color: #233d63;
    box-shadow: 0 0 115px #000000;
    padding: 15%;
}

.travels3 {
    width: 100%;
    float: none;
    padding: 0;
    text-align: left;
    margin-top: -5%;
}

.travels1 {
    width: 100%;
    float: none;
    padding: 0;
    text-align: left;
}

.travels2 {
    width: 100%;
    float: none;
    padding: 0;
    text-align: left;
    z-index: 500;
}
.travels h3 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 10vw;
    margin-top: 30px;
    letter-spacing: -1px;
}
.travels h4 {
    font-family: 'DM Serif Display', serif;
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 4px;
    color: #01b9c2;
    text-transform: uppercase;
}
.travels p {
    color: #a5b0bf;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    margin-top: 30px;
}
.fullshot {
    padding: 0 5%;
    margin: 10% 0;
    display: block;
}
.homework1 {
    position: absolute;
    width: 300px;
    top: 11%;
    left: 20%;
    z-index: 100;
}
.homework2 {
    position: absolute;
    width: 45%;
    top: 18%;
    right: 50%;
    z-index: 100;
}
.homework3 {
    position: absolute;
    width: 300px;
    top: 10%;
    left: 20%;
    z-index: 100;
}
.fluiddark.lbblob {
    background: url(../images/work-lb-background.png) top center no-repeat #0e131c;
    background-size: cover;
    z-index: 0;
    display: block;
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 50%;
    box-shadow: none;
}
.fluiddark.subblob {
    background: #004d8c;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    height: 700px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 150px #000;
}
.fluiddark.valeyblob {
    background: #101011;
    background-size: cover;
    z-index: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    border: none;
    margin-left: -350px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    box-shadow: none;
}
.brandpicoversub {
    width: 100%;
    position: absolute;
    top: 30%;
    height: 100%;
    left: 0;
    z-index: 100;
}
.brandpicoverval {
    width: 95%;
    position: absolute;
    top: 20%;
    height: 100%;
    left: 2.5%;
    z-index: 100;
}
.brandpic {
    width: 100%;
    position: relative;
    height: 85vh;
    margin-top: 0;
    background: url(../images/wavy.png) center center no-repeat;
    background-size: 150%;
}
.brandpicover2 img {
    height: 300px;
    margin-top: 60px;
}
.workintrobox {
    padding: 16% 10% 16% 10%;
    width: 100%;
    margin: 0 auto;
    background-color: #233d63;
    box-shadow: 0px 0px 115px #000000;
}
.workintrobox h2 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    font-size: 7vw;
    margin-bottom: 30px;
    letter-spacing: -1px;
}
.workintrobox p {
    color: #a5b0bf;
    text-align: center;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
}
.wires {
    padding: 11%;
}
.wires ul {
    padding-top: 30px;
}
.wires ul li {
    font-size: 23px;
    text-align: left;
    line-height: 38px;
    color: #f5c070;
    position: relative;
    padding- left: 40px;
    padding-bottom: 15px;
}
.wires ul li:before {
    content: "\f00c";
    font-family: font-awesome;
    position: absolute;
    line-height: 30px;
    font- size: 23px;
    left: 0;
    top: 5px;
    color: #ff6400;
}
.wires img {
    width: 100%;
}
.wires h2 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: left;
    font-weight: normal;
    font-size: 8vw;
}
.wires h3 {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 5vw;
    text-align: left;
    margin-top: 50px;
}
.wires h4 {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 3vw;
    text-align: left;
    margin-top: 50px;
}
.wires p {
    color: #a5b0bf;
    text-align: left;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    margin: 0 0 20px 0;
}
.wires a {
    color: #f5c070;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    font-style: italic;
}
.wires a:hover {
    color: #fff;
    font-family: DM Sans,sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.wiresleft {
    width: 100%;
    float: none;
    padding: 10%;
    background-color: #233d63;
    box-shadow: 0 0 115px #000000;
    margin-bottom: 60px;
}
.wiresright {
    width: 100%;
    float: none;
}
.wiresright2 {
    width: 100%;
    float: none;
    padding: 10%;
    margin-bottom: 60px;
    background-color: #233d63;
    box-shadow: 0 0 115px #000000;
}
.fontsncolours {
    padding: 6% 13% 6% 13%;
    width: 100%;
    margin: 10% auto 10%;
    background-color: #233d63;
    box-shadow: 0px 0px 115px #000000;
    z-index: 10;
    position: relative;
}
.fontsncolours h2 {
    color: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    font-size: 7vw;
    letter-spacing: -1px;
}
.fontsncolours .big {
    color: #fff;
    text-shadow: #f5c070;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-weight: normal;
    font-size: 7vw;
}
.fontsncolours p {
    color: #a5b0bf;
    font-family: DM Sans,sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
}
.font {
    width: 70%;
    float: none;
    clear: both;
    margin: 0 auto 40px auto;
}
.colours {
    width: 65%;
    float: none;
    margin: 0 auto;
}
.mobileshots {
    display: none;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

    .footer-distributed .footer-center p{
        font-size: 20px;
    }

.at-banner__close {
    position: absolute;
    top: 20%;
    right: 20px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.at-banner__close:before,
.at-banner__close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #FFFFFF;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    transform-origin: center;
}

.at-banner__close:before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.at-banner__close:after {
    transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes at-banner-slide-in {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0%);
    }
}
}